@import '/src/globalStyles';

.redNotificationDot {
  width: 11px;
  height: 11px;
  background: #e53935;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 50%;
  z-index: 99;
}

.time {
  position: absolute;
  right: 10px;
  margin-top: 5px;
  color: $gray;
  font-weight: 600;
}
