@import '/src/globalStyles';

.flex {
  display: flex;
}

.nipDetails {
  background-color: $red-light;
  color: white;
  border-radius: 20px;
  padding: 4% 6%;
  margin-bottom: 2rem;
}

.borderBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 2.2rem;
    margin-left: 0.5rem;
  }
}

.tripTo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  p span {
    font-weight: 300;
    font-size: 1rem;
  }

  p {
    display: grid;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 0.9;
    width: 40%;
  }
}

.trackingMainArea {
  margin: 2rem 0 0 0;

  h3 {
    margin-bottom: 0.5rem;
  }

  .labelNotification {
    margin: 0 0 3rem 0 !important;
  }

  .dnone {
    display: none !important;
  }

  .trackingDetail {
    align-items: center;
    margin: 1rem 0;

    &:last-child {
      span.poste {
        display: none;
      }
    }

    p {
      margin-left: 1rem;
      width: 100%;
      display: grid;
      position: relative;
      bottom: 8px;

      span {
        font-size: 0.8rem;
        float: right;
        position: relative;
        right: 0px;
        width: 95%;
        text-align: right;
      }
    }

    span {
      display: grid;

      .MuiAvatar-circular {
        z-index: 10;
      }

      span.poste {
        width: 1.3%;
        height: 3rem;
        background-color: #8080805c;
        position: absolute;
        left: 49px;
        margin-top: 39px;
      }
    }
  }

  .updateTrack {
    background: $green-light;
    float: right;
    margin: 1rem 0 0 1rem;
    color: white;
  }

  .cancelTrack {
    background: $red-custom;
    float: right;
    margin-top: 1rem;
    color: white;
  }
}

.inputPhone {
  display: flex;
}

.noMargin {
  margin: 0 !important;
}

.inputSearch {
  padding-top: 2rem;
}

.btnFamily {
  margin: 0.5rem auto !important;
  border-radius: 20px !important;
  padding: 0.7rem !important;
  width: 80% !important;
  background: $purple  !important;
  text-transform: inherit !important;
  font-size: 1rem !important;
  color: #fff !important;
}

@media only screen and (max-width: 1536px) and (min-width: 766px) {
  .trackingMainArea .trackingDetail span span.poste {
    width: 0.3%;
    height: 2rem;
    background-color: #8080805c;
    position: absolute;
    left: 256px;
    margin-top: 39px;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1536px) {
  .trackingMainArea .trackingDetail span span.poste {
    width: 0.3%;
  }
}